<% # Coming soon: search results for “%3c%= @term %%3d”
%>
<% # TODO: timing
%>
<p>Score:
<% if @hits.count == 0 %>
  <em>nil</em>
<% else %>
  <%= sentiment_to_grade(@hits) %>
<% end %>
</p>

<h2>Hits:</h2>
<p><%= @hits.count %> results were considered for this score:</p>

<% @hits.each do |hit| %>
  <p><%= hit.second %></p>
  <p><em>sentiment <%= hit.first %></em>, <em>klout score </em>
  <% if hit.third %>
    <em><%= hit.third %></em>
  <% else %>
    nil
  <% end %>
  </em></p>
<% end %>
