<% if @term %>
  <script type="text/javascript">
    $.ajax({
      url: "/review/dummy",
      data: {
        term: "<%= @term %>"
      },
      success: function(data) {
        $("#search-results").html(data);
      },
      method: "post"
    });
  </script>
<% end %>

<h1>Search for reviews</h1>

<% form_for :review do |f| %>
  Search for:
  <%= f.text_field :term, :tabindex => 1 %>
  <p>
  <%= f.submit('Search') %>
<% end %>

<p>
Credit left for search: $<%= @datasift.balance %>

<% if @term %>
  <h1>Results for “<%= @term %>”</h1>
  <div id="search-results">
    <p>You searched for “<%= h(@term) %>”</p>

    <p>Please be patient while we’re searching the Internet for relevant data ...</p>
  </div>
<% end %>
